@CHARSET "ISO-8859-1";

body {
  background-color: #ABC2DB;
  color: #676767;
  font-size: 12px;
  font-family: Verdana, Geneva, Lucida, Helvetica, sans-serif;
  font-weight: normal;
  margin: 10;
  padding: 10;
}

h1 {
        font-size: 13px;
        font-weight: bold;
        color: #DB2A20;
}
h2 {
        font-size: 12px;
        text-decoration: underline;
        font-weight: normal;
}
a{
        color: #336699;
}
#header {
  width: 800px;
  margin: 0 auto;
  border: 0px solid #000000;
  background-color: #FFFFFF;
 }
#header_menu {
    text-align:center;
    padding: 10px;
    border: 0px solid #000000;
 }
#content {
  border: 0px solid #000000;
  width: 800px;
  margin: 0 auto;
  background-color: #FFFFFF;
}
#main_content{
    padding: 10px;
}
#right_menu {
  border: 1px solid #000000;
  height: 80%; }

.clear {
  clear: both;
  margin: 0;
  padding: 0; }

#footer {
  width: 800px;
  margin: 0 auto;
  height: 69px;
  border: 0px solid red;
  vertical-align:bottom;
 }

 #footer_top {
        position:relative;
        height: 50px;
        border: 0px solid #000000;
 }
  #footer_bottom {
        position:relative;
        height: 14px;
        border: 0px solid #000000;
        text-align:center;
        bottom: 0px;
 }

a {
        text-decoration:none;
}
a:hover {
        text-decoration:underline;
}
.rodape {
        font-size: 10px;
        font-family: Verdana, Geneva, Lucida, Helvetica, sans-serif;
        color:#000000;
}
.texto_bold {
        font-weight: bold;
}
#side_content{
        position: relative;
        float: right;
        border: 0px solid #000000;
        width: 150px;
        top: 10px;
}

#campos_obrigatorio{
        font-size: 11px;
        color:#FF8204;
}
.texto_bold_red {
        font-weight: bold;
        color: #DB2A20;
}
.formulario th{
        font-size: 10px;
}
.submit_button{
        border:1px solid #B9B9B9;
        font-family:Verdana, Arial, Helvetica, sans-serif;
        font-size: 11px;
        width: 80px;
}
label {
    font-weight: bold;
}

.form_table{
   background-color: #EFEFEF;
}
.tit_form{
    font-size:12px;
    font-weight:bold;
    text-decoration:underline;
}